.seo-serp-module .module {
    margin-bottom: 12px;
    padding-top: 7px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e9e9e9;
}

.seo-serp-module .module:last-child {
    border-bottom: none;
}

.seo-serp-module .module .name {
    margin-bottom: 5px;
}

.seo-serp-module .module .name a {
    font-weight: bold;
}

.seo-serp-module .module .name span {
    font-style: italic;
}

.seo-serp-module .module .wrapper {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
}

.seo-serp-module .module .wrapper:last-child {
    margin-bottom: 0;
}

.seo-serp-module .module .wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.seo-serp-module .module .wrapper .status {
    float: left;
}

.seo-serp-module .module .wrapper .reference {
    float: right;
    color: #444;
}

.seo-serp-module .module ul.notes {
    margin-bottom: 10px;
    padding-left: 25px;
    list-style-type: square;
}

.seo-serp-module .module ul.notes li {
    list-style: square;
}

.seo-serp-module .seo-serp-test-messages a {
    text-decoration: underline;
}

.seo-serp-module .seo-serp-test-messages .seo-serp-test-error a {
    color: #c33;
}

.seo-serp-module .seo-serp-test-messages .seo-serp-test-warning a {
    color: #c58204;
}

.seo-serp-module .no-permission {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.seo-serp-module a.no-permission,
.seo-serp-module .no-permission a {
    cursor: not-allowed;
}