.seo_serp_container {
    margin-bottom: 9px;
}

.seo_serp_container .page {
    margin: 4px 0 0;
    padding: 4px 5px 5px 25px;
    border-radius: 3px;
}

.seo_serp_container .page.tl_pending {
    background: #f8f8f8 url("../../../../themes/default/images/loading.gif") no-repeat 6px center;
    background-size: 25px 14px;
}

.seo_serp_container .page:after {
    content: "";
    display: table;
    clear: both;
}

.seo_serp_container .page .title {
    float: left;
    color: inherit;
}

.seo_serp_container .page .edit {
    float: right;
}

.seo_serp_container .page .edit a {
    text-decoration: underline;
}

.seo_serp_container .page .messages {
    clear: both;
    color: inherit;
}

.seo_serp_container .page .messages ul {
    margin-left: 1em;
    padding: 5px 0 0 1em;
    list-style-type: disc;
    color: inherit;
}

.seo_serp_container .page .messages ul li {
    list-style: initial;
    color: inherit;
}