.seo-serp-test-messages {
    width: 100%;
    padding: 2px 0;
    text-indent: 0;
}

.seo-serp-test-messages .seo-serp-test-error,
.seo-serp-test-messages .seo-serp-test-warning {
    padding: 4px 5px 5px 25px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

.seo-serp-test-messages .seo-serp-test-error {
    background-color: #faeeee;
    background-image: url("../../../../themes/default/images/error.gif");
    color: #c33;
}

.seo-serp-test-error-row {
    background-color: #faeeee !important;
}

.seo-serp-test-messages .seo-serp-test-warning {
    background-color: #faf8df;
    background-image: url("../../../../themes/default/images/about.gif");
    color: #c58204;
}

.seo-serp-test-warning-row {
    background-color: #faf8df !important;
}